* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.leftSideLoginPage {
    background-color: #c084fc;
}

.rightSideLoginPage {
    background-color: aquamarine;
}

.loginToggleContainer{
    background-color: chartreuse;
}